@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');

/*
    Color Pallet:
    Purple Haze #BEAFC2
    Purple #695E93
    Violet #8155BA
    Ebony #281C2D
    https://www.canva.com/colors/color-palettes/makeshift-slumber/
*/

body{
   
  background:#000;
}

.div-background {
    position: relative;
    -webkit-filter: brightness(1.2) contrast(20);
    background:#000;
}

.h1-title{
    position: sticky;
    top: 50px;
    font-size: 10em;
    animation: effect 2s linear infinite;
}

@keyframes effect {
  0% {
      background: linear-gradient(
          #FFF, #ADB3BC);
      -webkit-background-clip: text;
  }

  100% {
      background: linear-gradient(
        #FFF, #ADB3BC);
      -webkit-background-clip: text;
  }
}

h1{
    font-family: 'Freckle Face', sans-serif;
    color: transparent;
    text-align: center;
}

.father-div{

  width: 50%;
  height:500px;
  margin: 0 auto;
  padding-top:200px;
  background-color: #000;
  padding-left:40%;

 -webkit-filter: blur(20px)
   
}

.cat{
     background: transparent;
     width: 20em;
     height: 20em;
     border-radius: 20em;
     -webkit-animation: updownright 15s infinite;
     -webkit-border-radius: 20em;
     -moz-border-radius: 20em;
     -ms-border-radius: 20em;
     -o-border-radius: 20em;
}





.dog{
    background: transparent;
    width: 20em;
    height: 20em;
    border-radius: 20em;
    -webkit-animation: updownlefty 15s infinite;
    position:relative;
    z-index:4;
    -webkit-border-radius: 20em;
    -moz-border-radius: 20em;
    -ms-border-radius: 20em;
    -o-border-radius: 20em;
}

@-webkit-keyframes updownlefty {
    0%, 100% {
      background: linear-gradient(
        #FFF, #ADB3BC);
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        margin-left: -200px    ;
      }
            50% {
              background: linear-gradient(
                #FFF, #ADB3BC);
              transform: translateY(-100px);
              margin-left: -50px      ;
              -webkit-transform: translateY(-100px);
              -moz-transform: translateY(-100px);
              -ms-transform: translateY(-100px);
              -o-transform: translateY(-100px);
      }  
}

@-webkit-keyframes updownright {
      0%, 100% {
        background: linear-gradient(
        #FFF, #ADB3BC);
          transform: translateY(0);
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          -o-transform: translateY(0);
          margin-left: 100px
      }
        50% {
          background: linear-gradient(
        #FFF, #ADB3BC);
          transform: translateY(100px);
          margin-left: -100px  ;
          -webkit-transform: translateY(100px);
          -moz-transform: translateY(100px);
          -ms-transform: translateY(100px);
          -o-transform: translateY(100px);
      }
}