.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25vh;
}


.container .eyes {
  position: relative;
  width: 20vh;
  height: 20vh;
  display: block;
  background-color: var(--white);
  margin: 20vh, 5vh;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 5px 4px var(--blue), inset 0 0 0 10px var(--grey);
}


.container .eyes::before {
  content: "";
  top: 50%;
  left: 35px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: black;
  position: absolute;
  border: 0.8vh solid var(--blue);
  box-sizing: border-box;
}


