@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');
/*
    Color Pallet:
    Jet Black #050606
    White #FDFDFD
    Pewter #D8D7D5
    Misty Blue #ADB3BC
    https://www.canva.com/colors/color-palettes/makeshift-slumber/
*/


:root {
  --black: #050606;
  --white: #FDFDFD;
  --grey: #D8D7D5;
  --blue: #ADB3BC;
  --home-bg-color: var(--black);
  --menu-bg-color: var(--grey);
  --font-family: 'Freckle Face', sans-serif;
}


body{
  background: var(--black);
}

.div-background {
    position: relative;
    /* -webkit-filter: brightness(1.2) contrast(20); */
    background-color: transparent;
    color: transparent;
}

.button-topLeft{
  position: fixed;
  top: 30px;
  left: 75px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
  color:transparent;
  background-color: transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-color: black;
}

.h1-homeButton {

  font-size: 7vh;
  color: var(--grey);
  margin-bottom: auto;
  margin-top: auto;
}

.h1-homeButton:hover {
  color: var(--blue);
  box-shadow: #ADB3BC;
}

.h1-title{
    /* position: sticky; */
    margin-top: 20vh;
    font-size: 10vh;
    letter-spacing: 3vh;
    color: var(--white);
    margin-bottom: auto;
}

.h2-qoute{
  font-family: 'Freckle Face', sans-serif;
  top: auto;
  text-align: center;
  font-size: 4.2vh;
  letter-spacing: 1vh;
  color: var(--blue);
  margin-bottom: auto;
}

.h1-topLeft{
  font-size: 5em;
  color: #ADB3BC;
}

h1 {
    font-family: 'Freckle Face', sans-serif;
    color: transparent;
    background-color: transparent;
    text-align: center;
}

h3 {
  font-family: 'Freckle Face', sans-serif;
  font-size: 2em;
  color: var(--black);
  background-color: transparent;
  text-align: center;
  margin-top: auto;
}

.button-topLeft{
  background: transparent;
}


#footer {
  background: linear-gradient(var(--black) 10%, var(--blue)  80%);
  border: none;
  position: absolute;
  display: table-cell;
  vertical-align: bottom;
  bottom: 0;
  width: 100%;
  height: 3%;
}